html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(0%) hue-rotate(8deg) brightness(105%) contrast(100%);;
    --header-bg-color: #171C28;
    --top-action-bg-color: #292e39;
    --top-action-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #EDEDF6;
    --header-bg-group-title: #ffffff;
    --body-bg: #292e39;
} 
