html {
    --text-color: #1A162E;
    --icon-color:  brightness(0) saturate(100%) invert(4%) sepia(68%) saturate(2737%) hue-rotate(240deg) brightness(92%) contrast(89%);

    --header-bg-color: #eee;
    --top-action-bg-color: #fff;
    --top-action-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #EDEDF6;
    --header-bg-group-title: #1A162E;
}
