@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(4%) sepia(68%)
        saturate(2737%) hue-rotate(240deg) brightness(92%) contrast(89%);
    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-action-bg-color: #fff;
    --top-action-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
    --header-bg-group-title: #1a162e;

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
    }
}
